body {
    background-color: #f5f5dc; /* Color beige */
    font-family: 'Nunito', sans-serif;
}

.hero-section {
    background-image: url('/images/nutricore-bg.webp');
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1.5rem;
}

.card-custom {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-custom:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
